<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="08a_AorsTm5u9BBlMfJ08RB6Q52lFAXe1YRChu2FpiM" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <title>Invitation</title>
  </head>
  <body>
    <div id="root"></div>
    
    <script src="/vendor.js" asp-append-version="true" charset="UTF-8"></script>
    <script src="/app.js" asp-append-version="true" charset="UTF-8"></script>
    <script src="/googleAuth.js" asp-append-version="true" charset="UTF-8"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=loadGoogleApi" async defer></script>
  </body>
</html>